<div class="navs">
           <div class="head">
               <a class="logoa" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="reg-btn"><a href="/auth/signout">Logout</a></li>
                   </ul>
               </nav>
           </div>
</div>

<div class="row">
    <div class="col-md-2">
         <div class="bg-dark"> 
                <ul class="list-group bg-dark">
                    <li class="list-group-item bg-dark" >
                        <a href="admin/home" style="padding: 2em 1em;" target="home" class="nav-link text-white bg-dark">Home</a>
                    </li>
                    <li class="list-group-item bg-dark">
                        <a href="/admin/loan_requests"  target="home" style="padding: 2em 1em;" class="nav-link text-white bg-dark">Loan Requests</a>
                    </li>
                    <li class="list-group-item bg-dark">
                        <a href="/admin/accepted_loans" target="home" style="padding: 2em 1em;" class="nav-link text-white bg-dark">Accepted Loans</a>
                    </li>
                    <li class="list-group-item bg-dark">
                        <a href="/admin/approved_loans" target="home" style="padding: 2em 1em;" class="nav-link text-white bg-dark">Approved Loans</a>
                    </li>
                    <li class="list-group-item bg-dark">
                      <a href="/admin/view_admin" target="home" style="padding: 2em 1em;" class="nav-link text-white bg-dark">View Admins</a>
                    </li>
                    <li class="list-group-item bg-dark">
                    <a href="/admin/add_admin" target="home" style="padding: 2em 1em;" class="nav-link text-white bg-dark">Add Admin</a>
                   </li>
                     <li class="list-group-item bg-dark">
                    <a href="/auth/signout"  style="padding: 2em 1em;" class="nav-link text-white bg-dark">Logout</a>
                   </li>
                   
                </ul>
            </div>
    </div>
     <div class="col-md-10">
         
            <iframe class=".embed-responsive" frameborder="0"  height="100%" width="100%" name="home" src="/admin/home"  ></iframe>
        
         
    </div>
</div>