<div class="sidebar">
           <div class="sidebar-brand">
               <h1>
                    <span class="fas fa-hands-helping"></span>
                    Fairlends
               </h1>
           </div>
           <div class="sidebar-menu">
               <ul>
                   <li>
                       <a href="/">
                            <span class="fas fa-tachometer-alt"></span>
                            <span>Dashboard</span>
                       </a>
                   </li>
                   <li>
                       <a href="/admin/loan_requests">
                            <span class="fas fa-clipboard-list"></span>
                            <span>Loan Requests</span>
                       </a>
                   </li>
                   <li>
                       <a href="/admin/accepted_loans" >
                            <span class="fas fa-clipboard"></span>
                            <span>Accepted Loans</span>
                       </a>
                   </li>
                    <li>
                       <a href="/admin/approved_loans" >
                            <span class="fas fa-clipboard"></span>
                            <span>Approved Loans</span>
                       </a>
                   </li>
                    <li>
                       <a href="/admin/active_loans"  >
                            <span class="fas fa-clipboard"></span>
                            <span>Active Lends</span>
                       </a>
                   </li>
                   <li>
                       <a href="/admin/tax" class="active" >
                            <span class="fas fa-clipboard"></span>
                            <span>Manage Tax</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-user-circle"></span>
                            <span>Profile</span>
                       </a>
                   </li>
                   <li>
                       <a href="/auth/signout" >
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                       </a>
                   </li>
               </ul>
           </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for=""> <span class="fas fa-bars"></span></label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <img src="images/human.png" width="40px" height="40px" alt="">
            <div>
                {{user.name}}
            </div>
        </div>
    </header>

    <main>
        <div style="margin:auto; width:50%;">
                <h2>Tax {{tax.tax}}%</h2>
               

                <div class="tax">
                    <form method="POST" action="/admin/tax">
                     <input type="text" name="_id" id="_id" value={{tax._id}} hidden>
                      <div class="card">
                           <label for="tax">Tax Percentage</label>
                            <div class="slidecontainer">
                            <input type="range" min="3" max="7"  class="slider" id="tax" step="1" name="tax">
                            <p><span id="span-tax"></span>%</p>
                        </div>
                    </div>
                    <input type="submit" value="update" class="login">
                    </form>

                </div>
        </div>
    </main>
</div>

<script type="text/javascript">
        var tax = document.getElementById("tax");
        var spanTax = document.getElementById("span-tax");
        spanTax.innerHTML = tax.value;

        tax.oninput = function() {
        spanTax.innerHTML = this.value;
        }

</script>

