<section class="hero">
           <div class="home">
               <div class="left-col">
                   <p class="subhead"> Welcome To Fairlends</p>
                   <h1>A Trusted and Secure Peer to Peer Lending Platform</h1>
               </div>
                <img src="http://localhost:3000/images/sht.png" class="hero-img" alt="Illustrator">

           </div>
</section>