<div class="sidebar">
           <div class="sidebar-brand">
               <h1>
                    <span class="fas fa-hands-helping"></span>
                    Fairlends
               </h1>
           </div>
           <div class="sidebar-menu">
               <ul>
                   <li>
                       <a href="/" class="active">
                            <span class="fas fa-tachometer-alt"></span>
                            <span>Dashboard</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/loans">
                            <span class="fas fa-clipboard-list"></span>
                            <span>Loan Requests</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/acceptedLoans" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Lends</span>
                       </a>
                   </li>
                    <li>
                       <a href="/users/lender/activeLoans" >
                            <span class="fas fa-clipboard"></span>
                            <span>Active Lends</span>
                       </a>
                   </li>
                    <li>
                       <a href="/users/lender/complaints" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Complaints</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-user-circle"></span>
                            <span>Profile</span>
                       </a>
                   </li>
                   <li>
                       <a href="/auth/signout" >
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                       </a>
                   </li>
               </ul>
           </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for=""> <span class="fas fa-bars"></span></label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <img src="images/human.png" width="40px" height="40px" alt="">
            <div>
                {{user.name}}
            </div>
        </div>
    </header>

    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>{{lenders}}</h1>
                    <span>Lenders</span>
                </div>
                <div>
                    <span class="fas fa-users"></span>   
                </div>
            </div>
             <div class="card-single">
                <div>
                    <h1>{{borrowers}}</h1>
                    <span>Borrowers</span>
                </div>
                <div>
                    <span class="fas fa-users"></span>   
                </div>
            </div>
             <div class="card-single">
                <div>
                    <h1>79</h1>
                    <span>Active Loans</span>
                </div>
                <div>
                    <span class="fas fa-clipboard-list"></span>   
                </div>
            </div>
        </div>
    </main>
</div>

