<div class="navs">
           <div class="head">
               <a class="logo" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="reg-btn"><a href="/auth/signout">Logout</a></li>
                   </ul>
               </nav>
           </div>
</div>

<section class="user-section">

        <h2>Welcome {{user.name}}</h2>
           <div class="container">
               <div class="row">
                   <div class="col-12 col-md-6">
                   <div class="card" style="width: 22rem; height:34rem; margin-top: 2em;">
                        <img src="images/chkloan.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">View Loans</h5>
                            <p class="card-text">See various loan request and start lending!</p>
                            <a href="/users/lender/loans" class="btn btn-primary">view loans</a>
                        </div>
                    </div>
                    </div>
                      <div class="col-12 col-md-6">
                     <div class="card" style="width: 22rem; height:34rem; margin-top: 2em;">
                        <img src="images/viewloan.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">My Lends</h5>
                            <p class="card-text">Check your lend status, pay tax and more!</p>
                            <a href="/users/lender/acceptedLoans" class="btn btn-primary">view my lends</a>
                        </div>
                    </div>
                    </div>
               </div>
               </div>
</section>