<div>
           <div class="home-header">
    
                    
               <a class="logo" href="#"> <span class="fas fa-handshake"></span>FAIRLENDS</a>
        
              
               <nav>
                   <ul>
                       <li class="login-btn active"><a  href="/auth/login">Login</a></li>
                        <li class="reg-btn"><a href="/auth/register">Register</a></li>
                   </ul>
               </nav>
           </div>
</div>

 <main>
           <div class="login">
                   <form method="POST" action="/auth/signin">
                       <label for="adhar_id">Adhar ID</label>
                       <input type="text" name="adhar_id" id="adhar_id" >
                       <label for="password">Password</label>
                       <input type="password" name="password" id="password" >  
                       {{#if err}} 
                            <p class="error">{err}</p>
                       {{/if}}  
                       {{#if loggedin}} 
                            <p class="error">success</p>
                       {{/if}}

                       <input type="submit" class="login">
                   </form>
               </div>
 </main>