<div class="navbar">
           <div class="container">
               <a class="logo" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="reg-btn"><a href="#">Register</a></li>
                   </ul>
               </nav>
           </div>
</div>

 <section class="login-section">
           <div class="login-container">
               <div class="contact-left">
                   <h2>Login</h2>
                   <form action="">
                       <label for="adhar">Adhar ID</label>
                       <input type="text" name="adhar" id="adhar" >
                       <label for="password">Password</label>
                       <input type="password" name="password" id="password" >   
                       <input type="submit" class="login">
                   </form>
               </div>
</section>