<div>
           <div class="home-header">
    
                    
               <a class="logo" href="#"> <span class="fas fa-handshake"></span>FAIRLENDS</a>
        
              
               <nav>
                   <ul>
                       <li class="login-btn active"><a  href="/auth/login">Login</a></li>
                        <li class="reg-btn"><a href="/auth/register">Register</a></li>
                   </ul>
               </nav>
           </div>
</div>
 <main>
           <div class="register">
                   
                   <form method="POST" action="signup">
                       <label for="adhar_id">Adhar ID</label>
                       <input type="text" name="adhar_id" id="adhar_id" >
                        <label for="name">Name</label>
                       <input type="text" name="name" id="name" >
                       <label for="role">Role</label><br>
                       <select name="role" id="role">
                            <option value="null">Select Role:</option>
                            <option value="borrower">Borrower</option>
                            <option value="lender">Lender</option>
                        </select><br><br>
                       <label for="address">Address</label><br>
                       <textarea name="address" id="address" cols="30" rows="3"></textarea><br><br>
                       <label for="phone">Phone</label>
                       <input type="text" name="phone" id="phone" > 
                       <label for="upi_id">UPI ID</label>
                       <input type="upi_id" name="upi_id" id="upi_id" > 
                       <label for="state">State</label>
                       <input type="test" name="state" id="state" > 
                       <label for="city">City</label>
                       <input type="text" name="city" id="city" > 
                        <label for="pincode">Pincode</label>
                       <input type="text" name="pincode" id="pincode" > 
                       <label for="password">Password</label>
                       <input type="password" name="password" id="password" > 
                       {{#if err}} 
                            <p class="error">{err}</p>
                       {{/if}}
                       {{#if loggedin}} 
                            <p class="error">success</p>
                       {{/if}}

                       <input type="submit" class="login">
                   </form>
            </div>
 </main>