<div class="navbar">
           <div class="container">
               <a class="logo" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="login-btn"><a href="auth/login">Login</a></li>
                        <li class="reg-btn"><a href="auth/register">Register</a></li>
                   </ul>
               </nav>
           </div>
</div>

<section class="hero">
           <div class="home">
               <div class="left-col">
                   <p class="subhead">Fairlends</p>
                   <h1>A Trusted and Secure Peer to Peer Lending Platform</h1>
               </div>
               <img src="images/sht.png" class="hero-img" alt="Illustrator">
           </div>
</section>