<div>
           <div class="home-header">
    
                    
               <a class="logo" href="#"> <span class="fas fa-handshake"></span>FAIRLENDS</a>
        
              
               <nav>
                   <ul>
                        <li class="login-btn"><a  href="/auth/login">Login</a></li>
                        <li class="reg-btn"><a href="/auth/register">Register</a></li>
                   </ul>
               </nav>
           </div>
</div>

<main>
           <div class="home">
               <div class="content">
                   <p class="subhead">FAIRLENDS</p>
                   <h1>A Trusted and Secure Peer to Peer Lending Platform</h1>
               </div>
           </div>
</main>
<script type="text/javascript">
   function alrt(){
       alert("hello world!");
   }
</script>
