@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #4a55e9;
    --secondary-color:#ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    width: 345px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
}

.sidebar-brand{
    height: 90px;
    padding: 1rem  0rem 1rem 2rem;
    color: var(--secondary-color);
}

.sidebar-brand h1{
    font-weight: 500;
    letter-spacing: .1em;
    color: #ffffff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: .5rem     ;
}

.sidebar-menu{
    margin-top: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
}

.sidebar-menu a.active{
    background-color: var(--secondary-color);
    padding-top: 1rem ;
    padding-bottom: 1rem;
    border-radius: 30px 0px 0px 30px;
    color:var(--primary-color);
    font-size: 1.1rem;
}

.sidebar-menu a.active span{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-menu span{
    padding-right: 1rem;
}

.main-content{
    margin-left: 345px;
   
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top:0;
    z-index: 100;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: whitesmoke;

    min-height: calc(100vh - 90px);
    
}

main .header{
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    left: 345px;
    z-index: 100;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    color: #ffffff;
    padding: 2rem;
    border-radius: 2px;
    cursor: pointer;
}

.card{
    background: #ffffff;
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 2px;
    margin: 1rem 0rem;
}

.card-single div:last-child span{
    font-size: 3rem;
}

form{
    display: block  ;
}

.apply-loan label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .3em;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    
}

.apply-loan{
    margin: auto;
    width: 50%;

}


.slidecontainer {
    width: 100%;
    height: 45px;
  }
  
  .slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    border: none;
    background: rgb(158, 156, 156);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  input {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: .3em;
    box-sizing: border-box;

}

input[type="submit"]{
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    width: 100%;
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 5px;
    padding: .4em 2em;
    cursor: pointer;

}


.special-txt{
    color: black;
    letter-spacing: .1em;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
}

.loan-container p{
    letter-spacing: .1em;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    color: black;
}

.loan-container{
    margin: auto;
    max-width: 100%;
}

.loan-container .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.loan-container .card{
    background: var(--secondary-color);
    color: #1b1a1a;
    padding: 2rem;
    border-radius: 2px;
    margin: 1rem 0rem;
    width: 100%;
}

.loan-container .card span{
  
    color: #141414;
    font-size: 1.1rem;
  
}

table{
    border-collapse: collapse;
    
}

td{
    padding: .5rem;
    font-size: .9rem;
    
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}
.card-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #5588f0;
    border-radius: 10px;
    border-bottom: 1px solid #585858
}

.recent-grid .card{
    background:#91dee4;
    border-radius: 5px
}

.table-responsive{
    width: 100%;
    overflow-x: auto;

}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: .5rem 1rem;

}

thead td{
    font-weight: 700;
    color: black;
}

.home-header{
    position: fixed;
    z-index: 100;
    top:0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: #fff;
    width: 100%;
    padding: 2rem;

    nav{
        display: flex;
        justify-content: space-between;
        background: none;
        height: auto;
        padding: 0;

    }

    ul{
        display: flex;
        margin: 0;
        li{
            margin: 0 0.5em;
        }
        
    }
    a{
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }

}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 5rem;

    .subhead{
        letter-spacing: .6em;
        font-family: 'Poppins' sans-serif;
        font-size: 50px;
        font-weight: 600;
        color: gray;
    }
}

.logo{
    text-decoration: none;
    font-weight: bold;
    color:var(--primary-color);
    font-size: 1.2em;
    letter-spacing: .3em;
    span{
        color: var(--primary-color);
    }
}

.login-btn a{
    padding: .5em;
    border: 5px solid green;
    border-radius: 20px;
    font-size: 1.3em;
    text-decoration: none;

    &:hover{
        background: green   ;
        color: white;

        font-weight: bold;
        font-size: 1.3em;
    }
}
.reg-btn a{
    padding: .5em;
    border: 5px solid gray;
    border-radius: 20px;
    font-size: 1.3em;
    text-decoration: none;
    

    &:hover{
        background: gray   ;
        color: white;

        font-weight: bold;
        font-size: 1.3em;
    }
}

.login{
    background: #fff;
    padding: 5rem;
    margin: auto;
    width: 50%;
    border-radius: 5px;
   
}

.register{
    background: #fff;
    padding: 5rem;
    margin: auto;
    width: 50%;
    border-radius: 5px;

    textarea{
        width: 100%;
        padding: 1em
    }
   
}

.report{
    background: red;
    padding: 5px 10px;
    border-radius: 5pc;
    color: white;
    border: none;
}

.report-d{
    background: rgb(236, 155, 155);
    padding: 5px 10px;
    border-radius: 5pc;
    color: white;
    border: none;
}

.pay{
    background: green;
    padding: 5px 10px;
    border-radius: 5pc;
    color: white;
    border: none;
}
.pay-d{
    background: rgb(134, 221, 134);
    padding: 5px 10px;
    border-radius: 5pc;
    color: white;
    border: none;
}

